Package: musl
Version: 1.1.20
Architecture: x86_64
Maintainer: Dmitry Golovin <dima@golovin.in>
Description: musl libc
Repo: https://www.${PKG}-libc.org/releases/
SourceMD5: 8d5dc34a4778b24b5b60f56330c75fee
