Package: dropbear
Version: 2018.76
Architecture: x86_64
Maintainer: protonesso <nagakamira@gmail.com>
Description: simple ssh clieant and server
Repo: https://matt.ucc.asn.au/${PKG}/releases/
Tarname: ${PKG}-${VER}.tar.bz2
SourceMD5: 1308bfb4d52713025f2a260c42c9834e
