Package: dropbear
Version: 2018.76
Architecture: x86_64
Maintainer: protonesso <nagakamira@gmail.com>
Description: simple ssh clieant and server
Repo: https://matt.ucc.asn.au/${PKG}/releases/
Filename: ${PKG}-${VER}.tar.bz2
