#!/bin/sh
set -e 

PACKAGE=dropbear

case "$1" in
  build)
    patch -p1 < opkg/miniz-support.patch
    ./configure CC='clang' --prefix="" --bindir=/bin --sbindir=/bin --with-zlib=/x86_64-pc-linux-musl/lib
    make PROGRAMS="dbclient dropbear dropbearconvert dropbearkey scp" SCPPROGRESS=1
    ;;

  install)
    rm -rf /tmp/$PACKAGE
    mkdir -p /tmp/$PACKAGE
    DESTDIR=/tmp/$PACKAGE
    make install DESTDIR=$DESTDIR
    ;;

  clean)
    make clean
    ;;

  *)
    echo unknown argument $1
    ;;
esac
