#!/bin/sh
set -e 

PACKAGE=opkg

case "$1" in
  build)
    cp -f opkg/pkg.m4 m4/pkg.m4
    ./autogen.sh
    ./configure CC='clang' --prefix="" --disable-static --disable-xz --enable-sha256 --enable-openssl --disable-gpg
    make
    ;;

  install)
    rm -rf /tmp/$PACKAGE
    mkdir -p /tmp/$PACKAGE
    DESTDIR=/tmp/$PACKAGE
    make install DESTDIR=$DESTDIR
    ;;

  clean)
    make clean
    ;;

  *)
    echo unknown argument $1
    ;;
esac
