#!/bin/sh
set -e 

PACKAGE=opkg

case "$1" in
  build)
    autoreconf -f -i
    ./configure CC='clang' --prefix="" --disable-static --disable-xz --enable-sha256 --enable-openssl --disable-gpg
    make
    ;;

  install)
    rm -rf /tmp/$PACKAGE
    mkdir -p /tmp/$PACKAGE
    DESTDIR=/tmp/$PACKAGE
    make install DESTDIR=$DESTDIR
    rm $DESTDIR/lib/libopkg.la
    mkdir -p /tmp/$PACKAGE/etc/opkg
    echo "src/gz nenuzhnix https://golovin.in/nenuzhnix" > /tmp/$PACKAGE/etc/opkg/opkg.conf
    ;;

  clean)
    make clean
    ;;

  *)
    echo unknown argument $1
    ;;
esac
