Package: kernel-headers
Version: 3.12.6-6
Architecture: x86_64
Maintainer: Dmitry Golovin <dima@golovin.in>
Description: linux kernel headers
Repo: https://ftp.barfooze.de/pub/sabotage/tarballs/
Tarname: ${PKG}-${VER}.tar.xz
SourceMD5: e6bc3ff52e7d5fc670f4447103a524b7
