Package: kernel-headers
Version: 3.12.6-6
Architecture: x86_64
Maintainer: Dmitry Golovin <dima@golovin.in>
Description: linux kernel headers
Repo: https://ftp.barfooze.de/pub/sabotage/tarballs/
Tarname: ${PKG}-${VER}.tar.xz
SourceMD5: ada2235266f7c802fc5b45c8bbca0bea
