Package: libressl
Version: 2.8.1
Architecture: x86_64
Maintainer: Dmitry Golovin <dima@golovin.in>
Description: openssl replacement
Repo: https://ftp.openbsd.org/pub/OpenBSD/LibreSSL/
SourceMD5: 05584d44c12323c5f17232a9085011e6
