#!/bin/sh
set -e 

PACKAGE=libressl

case "$1" in
  build)
    rm -rf build
    cmake -Bbuild -H. -GNinja -DCMAKE_INSTALL_PREFIX="" -DBUILD_SHARED_LIBS=ON -DCMAKE_BUILD_WITH_INSTALL_RPATH=ON -DCMAKE_SYSROOT=/x86_64-pc-linux-musl
    ninja -Cbuild -j1
    ;;

  install)
    rm -rf /tmp/$PACKAGE
    mkdir -p /tmp/$PACKAGE
    DESTDIR=/tmp/$PACKAGE
    DESTDIR=$DESTDIR ninja -Cbuild -j1 install
    ;;

  clean)
    rm -rf build
    ;;

  *)
    echo unknown argument $1
    ;;
esac
