#!/bin/sh
set -e 

. "$(which ninjahelper)"

PACKAGE=libressl

case "$1" in
  build)
    rm -rf build
    cmake -Bbuild -H. -GNinja -DCMAKE_INSTALL_PREFIX="" -DBUILD_SHARED_LIBS=ON -DCMAKE_BUILD_WITH_INSTALL_RPATH=ON -DCMAKE_SYSROOT=/x86_64-pc-linux-musl
    ninjaf -Cbuild
    ;;

  install)
    rm -rf /tmp/$PACKAGE
    mkdir -p /tmp/$PACKAGE
    export DESTDIR=/tmp/$PACKAGE
    ninjaf -Cbuild install
    ;;

  clean)
    ninjaf -Cbuild clean
    ;;

  *)
    echo unknown argument $1
    ;;
esac
