Package: libgit2
Version: 0.27.4
Architecture: x86_64
Maintainer: Dmitry Golovin <dima@golovin.in>
Description: git protocol implementation
Repo: https://github.com/${PKG}/${PKG}/archive/
Tarname: v${VER}.tar.gz
SourceMD5: d38b06b3de52ff5ef0c29e7b5dbe415b
