#!/bin/sh
set -e 

PACKAGE=libgit2

case "$1" in
  build)
    rm -rf build
    cmake -Bbuild -H. -GNinja -DCMAKE_INSTALL_PREFIX="" -DUSE_ICONV=ON -DBUILD_CLAR=OFF -DCMAKE_SYSROOT=/x86_64-pc-linux-musl
    ninja -Cbuild -j1
    ;;

  install)
    rm -rf /tmp/$PACKAGE
    mkdir -p /tmp/$PACKAGE
    DESTDIR=/tmp/$PACKAGE
    DESTDIR=$DESTDIR ninja -Cbuild -j1 install
    ;;

  clean)
    ninja -Cbuild -j1 clean
    ;;

  *)
    echo unknown argument $1
    ;;
esac
