Package: simplegit
Version: 20180325
Architecture: x86_64
Maintainer: Dmitry Golovin <dima@golovin.in>
Description: git replacement
Repo: https://${PKG}.000webhostapp.com/
SourceMD5: 8d35e35c7b76593e65886eb31e8b44c8
