Package: netbsd-curses
Version: 0.2.2
Architecture: x86_64
Maintainer: Dmitry Golovin <dima@golovin.in>
Description: lightweight curses library from netbsd
Repo: https://ftp.barfooze.de/pub/sabotage/tarballs/
Tarname: ${PKG}-${VER}.tar.xz
SourceMD5: 237f21c1faba41a34399fe33e879968b
