#!/bin/sh
set -e 

PACKAGE=e2fsprogs

case "$1" in
  build)
    patch -p1 < opkg/disable-docs.patch
    patch -p1 < opkg/gettext.patch
    autoreconf -f -i
    CC="clang" CFLAGS="-Wno-unused-command-line-argument" ./configure --prefix="" --sbindir=/bin --disable-rpath --enable-elf-shlibs --enable-libuuid --enable-libblkid --disable-nls
    make
    ;;

  install)
    rm -rf /tmp/$PACKAGE
    mkdir -p /tmp/$PACKAGE
    DESTDIR=/tmp/$PACKAGE
    make install install-libs LDCONFIG=true DESTDIR=$DESTDIR
    ;;

  clean)
    make clean
    ;;

  *)
    echo unknown argument $1
    ;;
esac
