#!/bin/sh
set -e 

PACKAGE=tzdb

case "$1" in
  build)
    sed -e 's/^ZICDIR = \(.*\)sbin$/ZICDIR = \1bin/g' -e 's/^USRDIR = .*$/USRDIR =/g' -i Makefile
    make ALL
    ;;

  install)
    rm -rf /tmp/$PACKAGE
    mkdir -p /tmp/$PACKAGE
    DESTDIR=/tmp/$PACKAGE
    make INSTALL DESTDIR=$DESTDIR
    ;;

  clean)
    make clean
    ;;

  *)
    echo unknown argument $1
    ;;
esac
