#!/bin/sh
set -e 

PACKAGE=shadow

case "$1" in
  build)
    patch -p0 < opkg/shadow-no_rlogin
    patch -p0 < opkg/shadow-strncpy-usage.patch
    patch -p0 < opkg/xstrdup.patch
    sed -i -e 's@#ENCRYPT_METHOD DES@ENCRYPT_METHOD SHA512@' etc/login.defs
    ./configure --prefix='' --bindir=/bin --sbindir=/bin --libdir=/lib --mandir=/share/man --sysconfdir=/etc --without-audit --without-libcrack --without-libpam --without-nscd --without-selinux --with-group-name-max-length=32
    make
    ;;

  install)
    rm -rf /tmp/$PACKAGE
    mkdir -p /tmp/$PACKAGE
    DESTDIR=/tmp/$PACKAGE
    make install DESTDIR="$DESTDIR"
    install -Dm644 opkg/useradd "$DESTDIR"/etc/default/useradd
    rm "$DESTDIR"/sbin/logoutd
    mv "$DESTDIR"/bin/newgrp "$DESTDIR"/bin/sg
    mv "$DESTDIR"/sbin/* "$DESTDIR"/bin
    rmdir "$DESTDIR"/sbin
    ;;

  clean)
    make clean
    ;;

  *)
    echo unknown argument $1
    ;;
esac
