#!/bin/sh
set -e 

PACKAGE=dash

case "$1" in
  build)
    patch -p1 < opkg/musl-support.patch
    ./configure CC='clang' --with-libedit --prefix=/
    make
    ;;

  install)
    rm -rf /tmp/$PACKAGE
    mkdir -p /tmp/$PACKAGE
    DESTDIR=/tmp/$PACKAGE
    make install DESTDIR=$DESTDIR
    ;;

  clean)
    make clean
    ;;

  *)
    echo unknown argument $1
    ;;
esac
