#!/bin/sh
set -e 

PACKAGE=toybox

case "$1" in
  build)
    make CC=clang oldconfig
    make CC=clang
    ;;

  install)
    rm -rf /tmp/$PACKAGE
    mkdir -p /tmp/$PACKAGE
    PREFIX=/tmp/$PACKAGE/bin make CC=clang install_flat
    ;;

  clean)
    make clean
    ;;

  *)
    echo unknown argument $1
    ;;
esac
