Package: libssh2
Version: 1.8.0
Architecture: x86_64
Maintainer: Dmitry Golovin <dima@golovin.in>
Description: ssh2 protocol implementation
Repo: https://${PKG}.org/download/
SourceMD5: 3d1147cae66e2959ea5441b183de1b1c
