#!/bin/sh
set -e 

. "$(which ninjahelper)"

PACKAGE=libssh2

case "$1" in
  build)
    rm -rf build
    patch -p1 < opkg/miniz-undef.patch
    cmake -Bbuild -H. -GNinja -DCMAKE_INSTALL_PREFIX="" -DCMAKE_INSTALL_LIBDIR="lib" -DCRYPTO_BACKEND=OpenSSL -DENABLE_ZLIB_COMPRESSION=ON -DBUILD_SHARED_LIBS=ON -DCMAKE_SYSROOT=/x86_64-pc-linux-musl
    ninjaf -Cbuild
    ;;

  install)
    rm -rf /tmp/$PACKAGE
    mkdir -p /tmp/$PACKAGE
    export DESTDIR=/tmp/$PACKAGE
    ninjaf -Cbuild install
    ;;

  clean)
    ninjaf -Cbuild clean
    ;;

  *)
    echo unknown argument $1
    ;;
esac
