#!/bin/sh
set -e 

PACKAGE=libssh2

case "$1" in
  build)
    rm -rf build
    patch -p1 < opkg/miniz-undef.patch
    cmake -Bbuild -H. -GNinja -DCMAKE_INSTALL_PREFIX=/ \
      -DCRYPTO_BACKEND=OpenSSL -DENABLE_ZLIB_COMPRESSION=ON -DBUILD_SHARED_LIBS=ON \
      -DOPENSSL_CRYPTO_LIBRARY=/x86_64-pc-linux-musl/lib/libcrypto.so \
      -DOPENSSL_SSL_LIBRARY=/x86_64-pc-linux-musl/lib/libssl.so \
      -DOPENSSL_INCLUDE_DIR=/x86_64-pc-linux-musl/include/openssl \
      -DZLIB_LIBRARY=/x86_64-pc-linux-musl/lib/libz.so \
      -DZLIB_INCLUDE_DIR=/x86_64-pc-linux-musl/include
    ninja -Cbuild -j1
    ;;

  install)
    rm -rf /tmp/$PACKAGE
    mkdir -p /tmp/$PACKAGE
    DESTDIR=/tmp/$PACKAGE
    DESTDIR=$DESTDIR ninja -Cbuild -j1 install
    ;;

  clean)
    ninja -Cbuild -j1 clean
    ;;

  *)
    echo unknown argument $1
    ;;
esac
