Package: miniz
Version: 2.0.7
Architecture: x86_64
Maintainer: Dmitry Golovin <dima@golovin.in>
Description: zlib replacement
Repo: https://github.com/richgel999/${PKG}/archive/
Tarname: ${VER}.tar.gz
