#!/bin/sh
set -e 

. "$(which ninjahelper)"

PACKAGE=miniz

case "$1" in
  build)
    patch -p1 < opkg/add-inflatereset.patch
    patch -p1 < opkg/cmake.patch
    cmake -Bbuild -H. -GNinja -DCMAKE_INSTALL_PREFIX="" -DCMAKE_SYSROOT=/x86_64-pc-linux-musl
    ninjaf -Cbuild
    ;;

  install)
    rm -rf /tmp/$PACKAGE
    mkdir -p /tmp/$PACKAGE
    export DESTDIR=/tmp/$PACKAGE
    ninjaf -Cbuild install
    ;;

  clean)
    ninjaf -Cbuild clean
    ;;

  *)
    echo unknown argument $1
    ;;
esac
