#!/bin/sh
set -e 

PACKAGE=miniz

case "$1" in
  build)
    patch -p1 < opkg/add-inflatereset.patch
    patch -p1 < opkg/cmake.patch
    rm -rf build
    cmake -Bbuild -H. -GNinja -DCMAKE_INSTALL_PREFIX=""
    ninja -Cbuild -j1
    ;;

  install)
    rm -rf /tmp/$PACKAGE
    mkdir -p /tmp/$PACKAGE
    DESTDIR=/tmp/$PACKAGE
    DESTDIR=$DESTDIR ninja -Cbuild -j1 install
    ;;

  clean)
    #rm -rf build
    ;;

  *)
    echo unknown argument $1
    ;;
esac
