#!/bin/sh
set -e 

PACKAGE=curl

case "$1" in
  build)
    patch -p1 < opkg/libressl-support.patch
    patch -p1 < opkg/clang-triple.patch
    patch -p1 < opkg/miniz-version.patch
    autoconf
    ./configure CC='clang' --prefix="" --with-libssh2 --with-ca-path=/etc/ssl --disable-static ac_cv_lib_z_gzread=yes
    make
    ;;

  install)
    rm -rf /tmp/$PACKAGE
    mkdir -p /tmp/$PACKAGE
    DESTDIR=/tmp/$PACKAGE
    make install DESTDIR=$DESTDIR
    ;;

  clean)
    make clean
    ;;

  *)
    echo unknown argument $1
    ;;
esac
