#!/bin/sh
set -e 

PACKAGE=eudev

case "$1" in
  build)
    autoreconf -f -i
    ./configure --prefix='' --with-rootprefix='' --libdir=/lib --sbindir=/bin --sysconfdir=/etc --enable-hwdb --enable-kmod --disable-introspection
    make
    ;;

  install)
    rm -rf /tmp/$PACKAGE
    mkdir -p /tmp/$PACKAGE
    DESTDIR=/tmp/$PACKAGE
    make install DESTDIR=$DESTDIR
    ;;

  clean)
    make clean
    ;;

  *)
    echo unknown argument $1
    ;;
esac
