#!/bin/sh
set -e 

. "$(which ninjahelper)"

PACKAGE=base-files

case "$1" in
  build)
    rm -rf build
    cmake -Bbuild -H. -GNinja -DCMAKE_INSTALL_PREFIX=""
    ;;

  install)
    rm -rf /tmp/$PACKAGE
    mkdir -p /tmp/$PACKAGE
    export DESTDIR=/tmp/$PACKAGE
    ninjaf -Cbuild install
    ;;

  clean)
    ninjaf -Cbuild clean
    ;;

  *)
    echo unknown argument $1
    ;;
esac
