#!/bin/sh
set -e 

PACKAGE=libedit

case "$1" in
  build)
    rm -rf build
    patch -p1 < opkg/cmake-enable.patch
    cmake -Bbuild -H. -GNinja -DCMAKE_INSTALL_PREFIX="" -DCMAKE_SYSROOT=/x86_64-pc-linux-musl
    ninja -Cbuild -j1
    ;;

  install)
    rm -rf /tmp/$PACKAGE
    mkdir -p /tmp/$PACKAGE
    DESTDIR=/tmp/$PACKAGE
    DESTDIR=$DESTDIR ninja -Cbuild -j1 install
    ;;

  clean)
    ninja -Cbuild -j1 clean
    ;;

  *)
    echo unknown argument $1
    ;;
esac
