#!/bin/sh
set -e 

. "$(which ninjahelper)"

PACKAGE=libarchive

case "$1" in
  build)
    rm -rf build-ninja
    cmake -Bbuild-ninja -H. -GNinja -DCMAKE_INSTALL_PREFIX="" -DBUILD_SHARED_LIBS=ON -DCMAKE_SYSROOT=/x86_64-pc-linux-musl -DENABLE_CAT_SHARED=ON -DENABLE_CPIO_SHARED=ON -DENABLE_TAR_SHARED=ON
    ninjaf -Cbuild-ninja
    ;;

  install)
    rm -rf /tmp/$PACKAGE
    mkdir -p /tmp/$PACKAGE
    export DESTDIR=/tmp/$PACKAGE
    ninjaf -Cbuild-ninja install
    ;;

  clean)
    ninjaf -C build-ninja clean
    ;;

  *)
    echo unknown argument $1
    ;;
esac
